body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.header {
  background-color: #0072C6;
  color: #fff;
  padding: 20px;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #f8f9fa;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: #f8f9fa;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
}

.main-content {
  margin-left: 20%;
  margin-top: 70px;
}

.section {
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
}

.section h3 {
  font-size: 1.5em;
  margin-top: 0;
}

.section ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 20px;
}

.section li {
  margin-bottom: 5px;
}

.section p {
  margin-bottom: 0;
}

.section:last-child {
  margin-bottom: 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  background-color: #ddd;
  color: #333;
  font-size: 0.9em;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.footer {
  background-color: #0072C6;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.fixed-sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: #f8f9fa;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
}

.fixed-sidebar a {
  color: #fff;
  text-decoration: none;
}

.fixed-sidebar a:hover {
  text-decoration: underline;
}

.main-content {
  margin-left: 20%;
  margin-top: 70px;
}

.banner-image {
  height: calc(100vh - 250px); /* Adjust the height value based on your preference */
  overflow: hidden;
  position: relative;
}

.banner-image img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}